@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Detalhes acerca do trabalho realizado</h2>
<p>Licenciatura de Engenharia Informática, Tecnologias da Internet II, 2º ano</p>
<p>Alexandre Sequeira, nº 19420</p>

<h2>Credenciais de acesso do gestor de folhetos</h2>
<p> admin@example.com </p>
<p> Admin@123456</p>